.error {
  font-weight: 500;
  font-size: 24px;
  color: #000;
  text-align: center;
  padding: 90px 0px;
}

.similar {}

.title {
  font-weight: 500;
  font-size: 24px;
  color: #000;
  text-align: center;
  padding: 30px 0px;
}

.list {
  display: flex;
  justify-content: space-evenly;
  gap: 17px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

@media (max-width: 900px) {

  .title,
  .error {
    font-size: 20px;
  }
}

@media (max-width: 650px) {

  .title,
  .error {
    font-size: 18px;
    padding: 20px 0px;
  }
}