.rating {
  min-width: 190px;
  font-size: 18px;
  color: #fb773f;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.wrapper span {
  color: #293241;
  font-weight: 700;
}

.wrapper span b {
  color: #fb773f;
}

@media (max-width: 900px) {
  .rating {
    font-size: 16px;
  }
}

@media (max-width: 650px) {

  .rating {
    min-width: 170px;
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .rating {
    min-width: 150px;
    font-size: 14px;
  }
}