.favorites {
  width: 1340px;
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 17px;
  justify-content: space-between;
}