.favorites {}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 40px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 0px;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .title {
    padding-bottom: 20px;
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 18px;
  }
}