.button {
  width: 250px;
  display: inline-block;
  padding: 15px 28px;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: none;
  background: #fb773f;
  border: 1px solid transparent;
  transition: all .3s ease-out;
}

.button:hover {
  color: #fb773f;
  border: 1px solid #293241;
  background-color: transparent;
}

.removeButton {
  background: #293241;
  color: #fff;
  font-weight: 600;
}