.categories {
  padding-top: 100px;
}

.title span {
  font-size: 18px;
  border-radius: 60px;
  padding: 10px 30px;
  background-color: #293241;
  color: #fff;
}

@media (max-width: 900px) {
  .categories {
    padding-top: 50px;
  }
}

@media (max-width: 900px) {
  .categories {
    padding-top: 30px;
  }

  .title span {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .title span {
    font-size: 15px;
    padding: 8px 17px;
  }
}

@media (max-width: 450px) {
  .title {
    text-align: center;
  }

  .title span {
    font-size: 14px;
  }
}