.card {
  width: 600px;
  border-radius: 10px;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px #c5bebe;
}

.imgWrapper {
  width: 250px;
  height: 350px;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
}

.info {
  width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  justify-content: space-around;
}

.title {
  max-width: 380px;
  font-size: 25px;
  font-weight: 600;
}

.item {
  font-size: 20px;
  color: rgba(21, 21, 21, 0.5);
}

.button {
  width: 215px;
  display: inline-block;
  padding: 15px 28px;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: none;
  background: #293241;
  border: 1px solid transparent;
  transition: all .3s ease-out;
}

.button:hover {
  color: #fb773f;
  border: 1px solid #293241;
  background-color: transparent;
}

@media (max-width: 1300px) {
  .card {
    width: 500px;
    height: 300px;
  }

  .imgWrapper {
    width: 200px;
    height: 300px;
  }

  .list {
    row-gap: 20px;
  }

  .title {
    font-size: 20px;
  }

  .item {
    font-size: 16px;

  }

  .button {
    width: 170px;
    padding: 10px 22px;
  }
}

@media (max-width: 1050px) {
  .card {
    width: 350px;
    height: 250px;
  }

  .imgWrapper {
    width: 150px;
    height: 250px;
  }

  .list {
    row-gap: 5px;
  }

  .title {
    font-size: 18px;
  }

  .item {
    font-size: 14px;

  }

  .button {
    width: 120px;
    padding: 10px 18px;
  }
}

@media (max-width: 750px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .card {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 280px;
    height: 180px;
  }

  .imgWrapper {
    width: 100px;
    height: 180px;
  }

  .info {
    padding: 10px 0;
  }

  .list {
    row-gap: 0;
  }

  .title {
    font-size: 16px;
    line-height: 1
  }

  .item {
    font-size: 12px;
  }

  .button {
    width: 80px;
    font-size: 15px;
    padding: 5px 10px;
  }
}