.card {
  width: 250px;
  height: 430px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px #c5bebe;
}

.img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
}

.info {
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}

.name {
  font-weight: 600;
  font-size: 18px;
  color: #080423;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year {
  font-weight: 600;
  font-size: 16px;
  color: rgba(21, 21, 21, 0.28);
}

.rating {
  font-weight: 600;
  font-size: 18px;
  color: #ffb005;
}

.like {
  width: 22px;
  height: 18px;
}