.card {
  width: 250px;
  height: 430px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 8px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px #c5bebe;
}

.img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
}

.info {
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
}

.name {
  font-weight: 600;
  font-size: 18px;
  color: #080423;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year {
  font-weight: 600;
  font-size: 16px;
  color: rgba(21, 21, 21, 0.28);
}

.rating {
  font-weight: 600;
  font-size: 18px;
  color: #ffb005;
}

.like {
  width: 22px;
  height: 18px;
}

@media (max-width: 900px) {
  .card {
    width: 200px;
    height: 350px;
  }

  .img {
    width: 100%;
    height: 270px;
  }

  .name {
    font-size: 16px;
  }

  .year {
    font-size: 14px;
  }

  .rating {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 150px;
    height: 250px;
  }

  .info {
    padding: 0 8px;
  }

  .img {
    width: 100%;
    height: 180px;
  }

  .name {
    font-size: 14px;
  }

  .year {
    font-size: 12px;
  }

  .rating {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .card {
    width: 130px;
    height: 220px;
    row-gap: 0;
  }

  .img {
    width: 100%;
    height: 160px;
  }

  .name {
    font-size: 12px;
  }

}