.card {
  display: flex;
  column-gap: 40px
}

.imgWrapper {
  width: 500px;
  height: auto;
  flex-shrink: 0;
  padding-top: 20px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.title {
  font-weight: 700;
  font-size: 60px;
  color: #293241;
}

.description {
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0;
}

@media (max-width: 1150px) {
  .imgWrapper {
    width: 400px;
  }

  .title {
    font-size: 45px;
  }

  .description {
    font-size: 16px;
  }
}


@media (max-width: 950px) {
  .imgWrapper {
    width: 350px;
  }

  .title {
    font-size: 35px;
  }

  .description {
    font-size: 15px;
  }
}

@media (max-width: 850px) {
  .card {
    flex-direction: column;
    align-items: center
  }

  .imgWrapper {
    width: 300px;
  }

  .info {
    align-items: center;
  }

}

@media (max-width: 650px) {
  .imgWrapper {
    width: 250px;
    padding-top: 0;
  }

  .title {
    font-size: 30px;
  }

  .description {
    font-size: 15px;
  }

}

@media (max-width: 550px) {
  .imgWrapper {
    width: 180px;
  }

  .title {
    font-size: 25px;
  }

  .description {
    font-size: 14px;
  }
}