.card {
  display: flex;
  column-gap: 40px
}

.imgWrapper {
  width: 500px;
  height: auto;
  flex-shrink: 0;
  padding-top: 20px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.title {
  font-weight: 700;
  font-size: 60px;
  color: #293241;
}

.description {
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0;
}