.frames {}

.error {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  padding: 90px 0px;
}

.title {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 50px;
}

.title span {
  border-radius: 60px;
  padding: 10px 6px;
  padding: 11px 29px;
  background-color: #293241;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 40px;
}

.imgWrapper {
  width: 430px;
  height: 420px;
  flex-shrink: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.imgWrapper:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 10px #c5bebe;
}