.error {
  background-color: #080423;
  padding: 34px;
  width: 1340px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #222121;
  font-size: 18px
}


.title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}

.list {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px 17px;
  padding-bottom: 50px;
}

@media (max-width: 900px) {
  .title {
    font-size: 22px;
  }

  .list {
    padding-bottom: 25px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 18px;
  }

  .list {
    padding-top: 25px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 16px;
  }
}