.error {
  background-color: #080423;
  padding: 34px;
  width: 1340px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #222121;
  font-size: 18px
}


.title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}

.list {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 17px;
  padding-bottom: 50px;
}