.moviesList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 17px;
  justify-content: space-evenly;
}

.title {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 900px) {
  .moviesList {
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }
}