.list {
  display: flex;
  column-gap: 20px;
  margin-top: 40px;
}

.select {
  font-size: 16px;
  width: 150px;
  padding: 10px 15px;
  border-radius: 50px;
  outline: none;
  color: #7A7A7A;
  appearance: none;
  background: url('../../assets/images/arrow-select.svg') no-repeat right 15px center;
  padding-right: 25px;
}

.button {
  display: inline-block;
  padding: 7px 28px;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border: none;
  background: #fb773f;
  border: 1px solid transparent;
  transition: all .3s ease-out;
}

.button:hover {
  color: #fb773f;
  border: 1px solid #293241;
  background-color: #fff;
}

@media (max-width: 900px) {



  .select {
    font-size: 15px;
    width: 130px;
    padding: 7px 12px;
    background-size: 15px 7px;
  }

  .button {
    font-size: 16px;
  }
}

@media (max-width: 650px) {
  .list {
    column-gap: 10px;
  }

  .select {
    font-size: 14px;
    width: 120px;
    padding: 5px 12px;
    background-size: 15px 7px;
  }

  .button {
    font-size: 15px;
    padding: 5px 20px;
  }
}

@media (max-width: 400px) {
  .list {
    margin-top: 25px;
    flex-direction: column;
    gap: 10px;
  }

  .select {
    font-size: 13px;
    width: 120px;
    padding: 5px 12px;
    background-size: 12px 5px;
  }

  .button {
    width: 120px;
  }
}