.list {
  display: flex;
  column-gap: 20px;
  margin-top: 40px;
}

.select {
  font-size: 16px;
  width: 150px;
  padding: 10px 15px;
  border-radius: 50px;
  outline: none;
  color: #7A7A7A;
  appearance: none;
  background: url('../../assets/images/arrow-select.svg') no-repeat right 15px center;
  padding-right: 25px;
}

.button {
  display: inline-block;
  padding: 9px 52px;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border: none;
  background: #fb773f;
  border: 1px solid transparent;
  transition: all .3s ease-out;
}

.button:hover {
  color: #fb773f;
  border: 1px solid #293241;
  background-color: #fff;
}