.footer {
  background-color: #293241;
  padding: 0 10px;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 35px;
}

.logo {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fb773f;
}

.navList {
  display: flex;
  column-gap: 40px;
}

.listItem {
  font-weight: 400;
  font-size: 18px;
  color: #fff9f9;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.listItem:hover {
  color: #fb773f;
}

@media (max-width: 900px) {
  .wrapper {
    padding: 20px 0;
    justify-content: space-around;
  }

  .logo {
    font-size: 30px;
  }

  .navList {
    column-gap: 30px;
  }

  .navList li,
  .navList a {
    font-size: 15px;
  }
}

@media (max-width: 650px) {

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navList li,
  .navList a {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .wrapper {
    flex-direction: column-reverse
  }
}