.hero {
  width: 100%;
  background-color: #293241;
  padding: 34px;
  display: flex;
  gap: 39px;
  border-radius: 10px;
  color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.title {
  font-weight: 500;
  font-size: 60px;
  color: #fff;
}

.description {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.button {
  width: 190px;
  padding: 9px 52px;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border: 1px solid transparent;
  background: #fb773f;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: #fb773f;
  border: 1px solid #080423;
  background-color: #fff;
}

.imgWrapper {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.img {
  max-height: 600px;
  width: auto;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .img {
    max-height: 500px;
  }
}

@media (max-width: 960px) {
  .info h2 {
    font-size: 25px;
  }

  .title {
    font-size: 45px;
  }

  .description {
    font-size: 16px;
  }

  .img {
    max-height: 450px;
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 20px;
  }

  .info h2 {
    font-size: 20px;
  }

  .title {
    font-size: 35px;
  }

  .description {
    font-size: 15px;
  }

  .img {
    max-height: 400px;
  }

  .button {
    width: 120px;
    font-size: 15px;
    padding: 5px 20px;
  }
}

@media (max-width: 750px) {
  .hero {
    gap: 15px;
    padding: 15px;
  }

  .info h2 {
    font-size: 18px;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 13px;
  }

  .img {
    max-height: 350px;
  }
}

@media (max-width: 650px) {
  .hero {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .info {
    padding: 0 15px;
    gap: 10px;
  }

  .title {
    text-align: center;
  }

  .img {
    max-height: 300px;
  }
}

@media (max-width: 500px) {
  .hero {
    gap: 5px;
  }

  .info h2 {
    font-size: 16px;
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 12px;
  }

  .img {
    max-height: 250px;
  }
}