.hero {
  width: 100%;
  background-color: #293241;
  padding: 34px;
  display: flex;
  gap: 39px;
  border-radius: 10px;
  color: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.title {
  font-weight: 500;
  font-size: 60px;
  color: #fff;
}

.description {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.button {
  width: 190px;
  padding: 9px 52px;
  border-radius: 60px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border: 1px solid transparent;
  background: #fb773f;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: #fb773f;
  border: 1px solid #080423;
  background-color: #fff;
}

.imgWrapper {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.img {
  width: 100%;
  max-height: 600px;
  width: auto;
  height: auto;
  border-radius: 8px;
}