* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  color: #293241;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ececec;
}

.container {
  flex: 1;
  max-width: 1350px;
  /* padding: 60px 15px 80px; */
  padding: 30px 15px 40px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: calc(100vw - 40px);
    padding: 15px 15px 20px;
  }
}