.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1450px;
  max-height: 850px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 1100px;
  max-height: 600px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.wrapper span {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.next,
.prev {
  font-size: 25px;
  width: 16px;
  height: 30px;
  background: url('../../assets/images/nextSlider.svg') no-repeat center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.prev {
  transform: rotate(180deg);
}

.closeCross {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 27px;
  height: 27px;
  font-size: 30px;
  background: url('../../assets/images/cross.svg') no-repeat center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
}

.closeCross:hover,
.prev:hover,
.next:hover {
  opacity: 0.8;
}

.prev:disabled,
.next:disabled {
  cursor: not-allowed;
}